.game-container {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.row {
    display: flex;
}

.column {
    width: 20px;
    height: 20px;
    background-color: black;
}

.top-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    font-size: 1.5rem;
    background-color: grey;
    color: white;
    border: none;
    margin: 5px;
}

.food {
    box-sizing: border-box;
    background-color: red;
    border: 2px solid darkred;
}

.snake {
    background-color: rgb(187, 187, 187);
}
