.game-container {
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    width: 20px;
    height: 20px;
    margin: 1px;
    background-color: black;
}

button {
    width: 100px;
}

.food {
    background-color: red;
}

.snake {
    background-color: rgb(187, 187, 187);
}
